<style>
    body{
        margin:0;
        padding:0;
    } 
    header{
        height:200px;
        background-color: #339966;
        display:flex;
        justify-content:center;
        align-items: center;
        color:white;
    }
    footer{
        height:200px;
        background-color: #b3e633;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    section{
        width: 100%;
        display:flex;
        flex-wrap: nowrap;
        background-color: #cc66ff;
    }
    nav{
        width: 25%;
        background-color: #ff80aa;
        color: black;
    }
    a{
       font-size: 32px;
       color: black;
       
    }
    
    h2 {
       padding-left: 40px;
    }
    img {
    padding-top: 20px;
    }
    .image {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    
    article {
          width: 75%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
    }
    footer {
          background-color: #339966;
          color: white;
          height: 50px;
    }
    </style>